@page "/beginkassa"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using kassablad.app.Shared
@attribute [Authorize]
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json @*https://docs.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-6.0&pivots=webassembly *@
@using Microsoft.Extensions.Logging
@inject ILogger<KassaContainerDto> Logger
@inject DialogService DialogService

<PageTitle>Beginkassa</PageTitle>

<h1>BeginKassa</h1>

<p>Tel je beginkassa even na!</p>

<div class="content-container">
    <CoinCounter />
</div>

@code {
    @* 
        Keep beginkassa data here
        but sync object with databbase
        when kassa = counted change status to counted
     *@
}