@page "/kassablad"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using kassablad.app.Shared
@attribute [Authorize]
@inject HttpClient Http
@using Microsoft.Extensions.Logging
@inject ILogger<KassaContainerDto> Logger

<PageTitle>Kassablad</PageTitle>

<h1>Kassablad</h1>

<p>Welkom! Tel je kasse en laat het zuipfestijn beginnen!!!</p>

<div class="content-container">
    <EditForm Model=@kassaContainer OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <RadzenCard>
            <h4>Activiteit</h4>
            <RadzenDropDown 
                AllowClear="true" 
                TValue="string" 
                Data=@(activiteiten) 
                id="activiteit"
                @bind-Value="kassaContainer.Activiteit"
            />
        </RadzenCard>
        <br/>
        <RadzenButton
            IsBusy=@busy 
            Text="Start" 
            type="submit" 
        />
    </EditForm>
</div>

@code {
    private KassaContainerDto kassaContainer = new() {
        DateAdded = DateTime.Now,
        DateUpdated = DateTime.Now,
        Active = true,
        Activiteit = "Café"
    };
    List<string> activiteiten = new List<string>() {
            "Café",
            "Foif",
            "Fiest",
            "Opkuis",
            "Ander"
        };
    bool busy;
    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
    private void HandleValidSubmit()
    {
        Logger.LogInformation("Handlesubmit called");
    }
}