.coinWrapper { 
    position:relative;
}
.coin {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-style: oblique;
    font-size: 24px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.253);
}
.coinCount {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    position:absolute;
    bottom:20px;
    width:calc(100% - 52px);
}
.coinCount span {
    opacity: 0.5;
    font-size: 24px;
}
#app .rz-dialog-content div p {
    color:black !important;
}